---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #c5ddf0;
$background-color: #0d1b2a;
$brand-color:      #4da6e8;

$grey-color:       #3d6480;
$grey-color-light: #1a3350;
$grey-color-dark:  #85b8d4;

// Width of the content area
$content-width:    860px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
